[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/true-wealth
[access "refs/for/refs/*"]
	read = group user/true-wealth
	push = group user/true-wealth
	label-Code-Review = -2..+2 group user/true-wealth
	label-Verified = -1..+1 group user/true-wealth
	rebase = group user/true-wealth
	removeReviewer = group user/true-wealth
	submit = group user/true-wealth
[access "refs/heads/*"]
	read = group user/true-wealth
	create = group user/true-wealth
	push = +force group user/true-wealth
	pushMerge = group user/true-wealth
[access "refs/tags/*"]
	push = group user/true-wealth
	push = +force group user/true-wealth
